{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'Advertisement/main.css' %}">

    {% if title %}
        <title>Django Blog - {{ title }}</title>
    {% else %}
        <title>Django Blog</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'Advertisement-home' %}">Oforikurom Dars</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'Advertisement-home' %}">Home</a>
              <a class="nav-item nav-link" href="{% url 'test' %}">Services</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
     <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.profile.house_number }}</h2>
            <h6 >{{ user.profile.street }}</h6>
        </div>
       </div>
      </div>

      <div class="media-body" style="color:#350000">
          <a class="mr-2" >Credit Credentials for {{user.profile.Name}}</a>
      </div>
      <div class="content-section">
        <div class="media-body">
            <h5 style = " color : #470000 " : >Account  Name:</h5>
            <h6> {{ object.Account_Name }}</h6><br>
            <div class="article-metadata" style="color:#350000">
              <small class="text-muted"></small>
            </div>
            <h5 style = " color : #370000 " :>Bank UC:</h5>
            <h6> {{ object.Bank_UC }}</h6><br>
            <div class="article-metadata" style="color:#350000">
              <small class="text-muted"></small>
            </div>
            <h5 style = " color : #350000 " : >Card Number:</h5>
            <h6> {{ object.Card_Number }} </h6>
            <div class="article-metadata" style="color:#350000">
              <small class="text-muted"></small>
            </div>
            <h5 style = " color : #350000 " : >CUL:</h5>
            <h6> {{ object.Card_Number }} </h6>
             <div class="article-metadata" style="color:#350000">
              <small class="text-muted"></small>
            </div>
            <h5 style = " color : #350000 " : >Mail:</h5>
            <h6> {{ object.Mail }} </h6>

        </div>
          <br>

          <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Cancel</button>
               <h6><a class="article-title"  href="{% url 'payoption' %}" style="color:#ECECEC" >cancel</a></h6>
          </div>
     </div>






















